<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>人员信息管理系统</title>
    <script src="/js/jquery-1.12.4.min.js"/>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"/>
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>人员信息管理系统</h1>
            <p>code by YiFan-Li</p>
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <a class="btn btn-info btn-lg" href="/toStudent">学生信息管理系统</a>
            <a class="btn btn-info btn-lg" href="/toEmployee">职工信息管理系统</a>
        </div>
    </div>
</body>
</html>